affine==2.3.1
asgiref==3.5.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
Django==4.0.4
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
drf-yasg==1.20.0
GDAL @ file:///C:/PROJECT/MAP_API/Requirements/files/GDAL-3.4.1-cp310-cp310-win_amd64.whl
greenlet==1.1.2
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.3
packaging==21.3
psycopg2==2.9.3
PyJWT==2.3.0
pyparsing==3.0.8
pytz==2022.1
rasterio @ file:///C:/PROJECT/MAP_API/Requirements/files/rasterio-1.2.10-cp310-cp310-win_amd64.whl
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
snuggs==1.4.7
SQLAlchemy==1.4.35
sqlparse==0.4.2
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.9
webcolors==1.11.1